.equipo-card .overlay {
  transition: background-color 0.4s ease, opacity 0.4s ease;
}

/* Usamos :hover para la versión de escritorio y :active para móviles */


/* Eliminamos el borde y sombra, pero mantenemos la overlay */
.equipo-card {
    position: relative;
    z-index: 1;
}
// SOMBREADO
// .equipo-card-shadow {
//   background-size: cover;
//   background-position: center;
//   filter: blur(25px) saturate(1.5);
//   transform: scale(1.05);
//   z-index: -1;
//   border-radius: inherit;
//   pointer-events: none;
// }


.color-lime{
  color: #B9FF38;
}

.invisible {
  visibility: hidden;
}
