img.rounded-circle {
        object-fit: cover;
    }

    .card-footer {
        background: none;
        border-top: none;
    }

    .stat-box {
        background: #0E0B13;
        height: 70px;
        min-width: 140px;
        flex: 1;
    }