.experience-card {
        background-color: #16121E;
        border: 1px solid rgba(255, 255, 255, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        will-change: transform, box-shadow;
    }

    .experience-card:hover {
        background-color: #1f1c25;
        transform: scale(1.03);
        box-shadow: 0 2px 3px rgba(187, 51, 255, 0.315);
        z-index: 10;
    }
