.btn-lime {
        background-color: #B9FF38;
        color: black;
    }

    .btn-lime:hover {
        background-color: #7daa17 !important;
        color: black !important;
    }

    .btn-lime-contact {
        background-color: #B9FF38;
        color: black;
        font-weight: bold;
    }

    .btn-lime-contact:hover {
        background-color: #7daa17 !important;
        color: black !important;
    }

    .btn-lime-proyects {
        color: white;
        border: 1px solid white;
        font-weight: bold;
    }

    .btn-lime-proyects:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        border-color: white;
    }

    .arrow-bounce {
        animation: bounce 1.5s infinite;
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(10px);
        }
    }

    .text-gradient {
        background: linear-gradient(to right, #B9FF38, #9757EC);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-weight: bold;
    }

    .titulo-eventos {
        font-size: clamp(2.2rem, 6vw, 4.6rem);
        line-height: 1.2;
        margin-top: 6rem;
    }

    @media (max-width: 768px) {
        .titulo-eventos {
            margin-top: 4rem;
        }
    }


    .invisible {
        visibility: hidden;
    }