.btn-lime-cta {
  border: 2px solid #b9ff38;
  color: #000;
  background-color: #b9ff38;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.btn-lime-cta:hover {
  background-color: #9bd42f;
  color: #000;
}

.lime-text {
  color: #b9ff38;
}

.event-card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 450px;
  display: flex;
  align-items: flex-end;
}

.event-card::before {
  content: '';
  background-image: var(--bg-img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.event-card:hover::before {
  transform: scale(1.10);
}

.event-content {
  position: relative;
  z-index: 2;
  padding: 1.5rem;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  width: 100%;
}

.event-tag {
  background-color: #b9ff38;
  color: black;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 4px 8px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.lime-bar {
  position: absolute;
  left: 5%;
  height: 5px;
  background-color: #b9ff38;
  width: 10%;
  transition: width 0.1s ease-in-out;
}

.event-card:hover .lime-bar {
  width: 25%;
}

/* Nuevo filtro estilo píldora */
.filter-card {
  background-color: #1e1e1e;
  border-radius: 5px;
  padding: 0.1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;

  /* Añade esto ↓ */
  max-width: 455px;
  margin-left: auto;
  margin-right: auto;
}

.btn-filter {
  border: none;
  background-color: transparent;
  color: #cccccc;
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-filter:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.btn-filter.active {
  background-color: #b9ff38;
  color: #000;
  font-weight: 600;
}